/* .wowstorytable {
    background: url(../images/elements/wowscrolltop.png), url(../images/elements/wowscrollmid.png), url(../images/elements/wowscrollbot.png);
    background-position: top, top 3% left 0, bottom;
    background-size: 100%, 100% auto, 100%;
    padding: 25px;
    background-repeat: no-repeat, repeat-y, no-repeat;
} */

.wowstorytable table tbody tr:nth-child(2n) {
    background: none;
}

.wowstorytable table thead {
    background: none;
}

.wowstorytable table {
    border: none;
}

.wowstorytable table tr {
    border: none;
}

.wowstorytable table td {
    border: none;
}


.wowstorytable table {
    background: url(../images/elements/wowscrollmid.png);
    background-position: center;
    background-size: 100%;
    padding-top: 25px;
    padding-bottom: 5vh;
    background-repeat: repeat;
}

.wowstorytable::before {
    content: '';
    position: relative;
    height: 25px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    background: url(../images/elements/wowscrolltop.png);
    background-size: 100%;
}

.wowstorytable::after {
    content: '';
    position: relative;
    height: 5vh;
    bottom: 0px;
    display: block;
    box-sizing: border-box;
    background: url(../images/elements/wowscrollbot.png);
    background-size: 100%;
}

@media (min-width: 700px) {
    .wowstorytable::after {
        height: 14vh;
    }
}